#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  width: 160px;
}
#fth {
  width: 50px;
}
.dButton {
  background-color: rgb(221, 81, 81);
  width: 60px;
  padding: 2px;
}
.uButton {
  background-color: rgb(152, 210, 65);
  width: 60px;
  padding: 2px;
}
input[type="date"]::-webkit-clear-button {
  display: none;
}
input[type="date"]::-moz-clear {
  display: none;
}
